{% extends "base.html" %}

{% block body %}

    <h2>{{ title }}</h2>
    <p>
        Congratulations!  Your code is <strong>{{ score }}</strong>.
    </p>
    <form action="/savescore" method="post">
        <table>
            <tr>
                <td>
                    {{didWin}}
                </td>
                <td>
                    <input type="text" name="player" required>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form>
                    <input type="submit" value="Record Score">
                    </form>
                </td>
            </tr>
        </table>

    </form>


{% endblock %}