{% extends "base.html" %}

{% block body %}

<h2>{{ title }}</h2>
<p>
    did player win: <strong>{{ didWin }}</strong>.
</p>
<form action="/saveScore" method="get">
    <table>
        <tr>
            <td>
            </td>
            <td>
                insert name here:
                <input type="text" name="playerName">
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <form>
                    <input type="submit" value="Record Score">
                </form>
            </td>
        </tr>
    </table>

</form>


{% endblock %}