{% extends "base.html" %}

{% block body %}

    <h2>{{ title }}</h2>
    <p>
        7 words only.</br>
        words are seperated by a space.</br>
        words must be 4 or more letters long.</br>
        no duplicates.</br>
        do not use the baseword in your guesses.</br>
    </p>
    
        <table>
            <tr>

            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <form action="/game" method="get">
                    <input type="submit" value="Start!">

                    </form>
                </td>
            </tr>
        </table>

    </form>


{% endblock %}